/* :root {
  line-height: 1.5;
  font-weight: 400;
}


body {
  margin: 0 2px 0 2px;
}
 */
body{
  font-family: monospace
}
.homeStyle{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}
.textStyle{
  margin-top: 1em;
}
.cakeImg{
  margin-top: 2em;
}
.contactoStyle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}
.divImg{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgStyle{
  max-width: 100%;
  height: auto;  
}